.mainEvents{
    display: flex;
    flex-direction: column;
}
.EventAddButtonDiv{
    position:fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 999;

}
.EventAddButtonDiv button{
    border-radius: 20px;
    background-color: rgb(83, 87, 145);
    color:white;
    border: none;
    height: 40px;
    width:100px;
}

.EventAddButtonDiv button:hover {
    background-color: rgb(65, 68, 115);
    cursor: pointer;
}
